body {
    background-color: rgb(8, 66, 73);
}

.jumbotron {
    background-image: url("../images/Bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
    color:rgb(254, 255, 255);
}

.bs-linebreak {
    height:10px;
}